.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.button {
    appearance: none;
    background: none;
    font-size: 32px;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border: 2px solid transparent white;
    color: white;
    padding-bottom: 4px;
    cursor: pointer;
    background-color: gray;
    border-radius: 6px;
    transition: all 0.15s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(248, 244, 244) 0px 0px 0px 3px;
    margin: 0 1rem;
}

.value {
    font-size: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
}

.textbox {
    font-size: 32px;
    padding: 2px;
    margin-right: 10px;
}